@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap");

body {
  font-family: "Roboto", sans-serif;
}
.bebas-neue-font {
  font-family: "Bebas Neue", cursive;
}
.font-color {
  color: #fabe4c;
}
.roboto-font {
  font-size: 16px;
  color: #3E3E3E;
}
.img-bg-width {
  width: 334px;
  height: 327px;
  background-color: #f1f1f1;
  border-radius: 20px;
}
.col-width {
  width: 370px;
  height: 550px;
  background-color: #ffffff;
  border-radius: 20px;
}

.price{
    font-size: 36px;
    font-weight: 900;
    color: #FABE4C;
}